{% block task_statistics_queue_per_channel %}
    <sw-page class="task-statistics-message-queue-stats">
        {% block task_statistics_queue_per_channel_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block task_statistics_queue_per_channel_smart_bar_header_title %}
                    <h2>
                        {% block task_statistics_queue_per_channel_smart_bar_header_title_text %}
                            {{ $tc('sw-settings.index.title') }}
                            <sw-icon
                                name="small-arrow-medium-right"
                                small
                            />
                            {{ $tc('task-statistics-queue-per-channel.general.textHeadline') }}
                        {% endblock %}

                        {% block task_statistics_queue_per_channel_smart_bar_header_amount %}
                            <span
                                v-if="!isLoading"
                                class="sw-page__smart-bar-amount"
                            >
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block task_statistics_queue_per_channel_content %}
            <template slot="content">
                {% block task_statistics_queue_per_channel_table %}
                    <sw-entity-listing
                        v-if="items && !isLoading"
                        :columns="columns"
                        :items="items"
                        :show-selection="false"
                        :allow-inline-edit="false"
                        :show-settings="true"
                        :show-actions="false"
                        class="queue-per-channel-list"
                        :repository="entityRepository"
                    >

                        {% block task_statistics_queue_per_channel__empty_state %}
                            <sw-empty-state
                                v-if="!isLoading && !items"
                                :title="$tc('task-statistics-queue-per-channel.grid.contentEmpty')"
                            />
                        {% endblock %}

                    </sw-entity-listing>
                {% endblock %}
            </template>
        {% endblock %}
        {% block task_statistics_queue_per_channel_sidebar %}
            <template #sidebar>
                <sw-sidebar class="task-statistics-queue-per-channel__sidebar">
                    {% block task_statistics_queue_per_channel_sidebar_item %}
                        <sw-sidebar-item
                            icon="default-arrow-360-left"
                            :title="$tc('task-statistics-queue-per-channel.grid.titleSidebarItemRefresh')"
                            @click="onRefresh"
                        />
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
