{% block task_statistics_dead_message %}
    <sw-page class="task-statistics-dead-message">
        {% block task_statistics_dead_message_search_bar %}
            <template slot="search-bar">
                <sw-search-bar
                    initial-search-type="dead_message"
                    :placeholder="$tc('task-statistics-dead-message.general.placeholderSearchBar')"
                    :initial-search="term"
                    @search="onSearch"
                />
            </template>
        {% endblock %}
        {% block task_statistics_dead_message_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block task_statistics_dead_message_smart_bar_header_title %}
                    <h2>
                        {% block task_statistics_dead_message_smart_bar_header_title_text %}
                            {{ $tc('sw-settings.index.title') }}
                            <sw-icon
                                name="small-arrow-medium-right"
                                small
                            />
                            {{ $tc('task-statistics-dead-message.general.textHeadline') }}
                        {% endblock %}

                        {% block task_statistics_dead_message_smart_bar_header_amount %}
                            <span
                                v-if="!isLoading"
                                class="sw-page__smart-bar-amount"
                            >
                            ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block task_statistics_dead_message_content %}
            <template slot="content">
                {% block task_statistics_dead_message_table %}
                    <sw-entity-listing
                        v-if="items && !isLoading"
                        :columns="columns"
                        :items="items"
                        :show-selection="false"
                        :allow-inline-edit="false"
                        :allow-delete="false"
                        :show-actions="false"
                        class="dead-message-list"
                        :repository="entityRepository"
                    />
                {% endblock %}
            </template>
        {% endblock %}
        {% block task_statistics_dead_message_sidebar %}
            <template #sidebar>
                <sw-sidebar class="task-statistics-dead-message__sidebar">
                    {% block task_statistics_dead_message_sidebar_item %}
                        <sw-sidebar-item
                            icon="default-arrow-360-left"
                            :title="$tc('task-statistics-dead-message.grid.titleSidebarItemRefresh')"
                            @click="onRefresh"
                        />
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
